@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
	font-family: ‘cwTeXYen’, sans-serif;
	font-weight: 300;
}

input[id="a"] {
    width: 600px;
    height: 30px;
}

input[id="b"] {
    width: 250px;
    height: 30px;
}

input[id="c"] {
    width: 100px;
    height: 30px;
}

